<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body style="background-color: cadetblue;" >
    <nav class="navbar" style="background-color: burlywood;">
        <p class="navbar-brand">Book Recommender System</p>
        <div class="nav navbar-nav">
            <a href="/">Home</a>
            <a href="/recommend">Recommend</a>
            <a href="/about">About</a>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p style="text-align: center;color: black;font-size: 34px;">About</p>
            </div>
            <p>"Do you ever feel overwhelmed by the sheer number of books out there?  We built this website to help you find your next great read!  We curate a list of the top 50 books based on various ranking systems, making it easy to discover popular and acclaimed titles. But that's not all!  If you already have a favorite book in mind, enter the title and our recommendation engine will analyze similar scores across different genres to suggest the top 5 most similar books.  Let us be your guide on your literary journey!"</p>  

            <img src="static\Books.jpg" alt="About Us Image" class="img-fluid d-none d-md-block mx-auto mb-4" style="width: 50%;">
        
            
              
          </div>
        
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5Qx8TkaX0TIegohh8ZcLFhCsYlZCYHUx2byW8vEiEj3zDKcIkv4Q+qePpDFd/jk" crossorigin="anonymous"></script>
            
            
            
        </div>
    </div>
</body>
</html>