<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommends</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body style="background-color: cadetblue;" >
    <nav class="navbar" style="background-color: burlywood;">
        <p class="navbar-brand">Book Recommender System</p>
        <div class="nav navbar-nav">
            <a href="/">Home</a>
            <a href="/recommend">Recommend</a>
            <a href="/about">About</a>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p style="text-align: center;color: black;font-size: 34px;">Search Books</p>
                <form action="/recommend_books" method="post">
                    <input type="text" name="user_input" id="" class="form-control-lg"><br><br>
                    <input type="submit" value="submit" class="btn btn-lg btn-warning">
                    <input type="reset" value="Clear" class="btn btn-lg btn-danger">
                </form>
            </div>
            {% if data %}
                {% for i in data %}
                    <div class="col-md-3" style="margin-top: 50px;">
                        <div class="card">
                            <div class="card-body">
                                <img class="card-img-top" alt="" src="{{i[2]}}">
                                <p>{{i[0]}}</p>
                                <p>{{i[1]}}</p>
                                

                            </div>
                        </div>
                    </div>
                {% endfor %}

            {% endif %}
            

           

            
            
        </div>
        
    </div>
</body>
</html>